@font-face {
    font-family: "Syncopate";
    src: url("../fonts/Syncopate-Regular.ttf");
    font-weight: 100;
}


body {

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  

  font-size: 18px;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('../images/cool-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;

}
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  letter-spacing: 2px;
}

/* ==========================================================================
  Universal Helpers
========================================================================== */

.text-justify {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize !important;
}

.lowercase {
    text-transform: lowercase !important;
}

.normalcase {
    text-transform: none !important;   
}


/* ==========================================================================
  Mobile first stuff
========================================================================== */


.navbar-inverse {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #474647),
    color-stop(1, #000000)
  );
  background-image: -o-linear-gradient(bottom, #474647 0%, #000000 100%);
  background-image: -moz-linear-gradient(bottom, #474647 0%, #000000 100%);
  background-image: -webkit-linear-gradient(bottom, #474647 0%, #000000 100%);
  background-image: -ms-linear-gradient(bottom, #474647 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #474647 0%, #000000 100%);  
  border:none;
  border-radius: 0px;
}

.navbar-nav > li {
  border-right:1px solid #212121;
  border-left:1px solid #434242;

}




input.form-control {
  font-size: 18px;
  border-radius: 25px; 
  padding: 10px;
  background: transparent; 
  border: solid 1px white; 
  color:white;
}

input.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
input.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
    opacity:  1;
}
input.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
    opacity:  1;
}
input.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}



/* ==========================================================================
  Medium Screens
========================================================================== */



@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        margin-bottom: 0px;
    }

    .navbar .navbar-collapse {
        line-height: 10px;
        text-align: center;
    }
}

/* ==========================================================================
  Larger Screens
========================================================================== */

@media (min-width: 1200px) {

}


